
<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
<title>Exterior home</title>
<!-- Meta tag Keywords -->
	    <link rel="icon" type="image/x-icon" href="{% static 'ad_styles/house.ico' %}">

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Best Floor web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--// Meta tag Keywords -->
<!-- css files -->
<link rel="stylesheet" href="{% static 'exterior_styles/exteriorhome/css/bootstrap.css' %}"> <!-- Bootstrap-Core-CSS -->
<link rel="stylesheet" href="{% static 'exterior_styles/exteriorhome/css/style.css' %}" type="text/css" media="all" /> <!-- Style-CSS -->
<link rel="stylesheet" href="{% static 'exterior_styles/exteriorhome/css/font-awesome.css' %}"> <!-- Font-Awesome-Icons-CSS -->
<link rel="stylesheet" href="{% static 'exterior_styles/exteriorhome/css/owl.carousel.css' %}" type="text/css" media="all">
<link rel="stylesheet" href="{% static 'exterior_styles/exteriorhome/css/chocolat.css' %}" type="text/css" media="screen">
<!-- //css files -->
<!-- online-fonts -->
<link href="//fonts.googleapis.com/css?family=Ubuntu+Condensed&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Alegreya+Sans:100,100i,300,300i,400,400i,500,500i,700,700i,800,800i,900,900i&amp;subset=latin-ext,vietnamese" rel="stylesheet">
<!-- //online-fonts -->
</head>
<body>
<script>
	{% for msg in messages %}
	alert('{{msg}}');
	{% endfor %}
</script>
<div class="header" id="header">
	<nav class="navbar navbar-default">
		<div class="navbar-header navbar-left">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<h1><a class="navbar-brand" href="index.html">Exterior<span>A</span>cquisition</a></h1>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
			<nav class="cl-effect-6" id="cl-effect-6">
				<ul class="nav navbar-nav">
					<li ><a href="/exterior_home/" class="">Home</a></li>
					<li><a href="/viewstructreport/" class="">View Report</a></li>
					<li><a href="/processExtreport/" class=" ">Process Report</a></li>

					<li><a href="/ext_logout/" >Logout</a></li>
				</ul>
			</nav>
		</div>
	</nav>

	<div class="clearfix"></div>
</div>
<div class="main-agile">
	<!-- banner -->
	<div id="home" class="w3ls-banner">
		<!-- banner-text -->
		<div class="slider">
			<div class="callbacks_container">
				<ul class="rslides callbacks callbacks1" id="slider4">
					<li>
						<div class="w3layouts-banner-top">
							<div class="agileits-banner-info">
								<div class="w3layouts-posi-1">
								</div>
								<div class="w3layouts-posi-2">
								</div>
								<h4>our mission is to redefine development</h4>
								<h3>sustainable revolution</h3>
								<p>creating spaces where sustainability is the cornerstone of progress</p>
								<div class="w3layouts-posi-3">
								</div>
								<div class="w3layouts-posi-4">
								</div>
								<div class="thim-click-to-bottom">
									<a href="#about" class="scroll">
										<i class="fa fa-long-arrow-down" aria-hidden="true"></i>
									</a>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="w3layouts-banner-top t2">
							<div class="agileits-banner-info">
								<div class="w3layouts-posi-1">
								</div>
								<div class="w3layouts-posi-2">
								</div>
								<h4 style="color:white"> we recognize the profound impact of our choices.</h4>
								<h3> it's a manifesto for change</h3>
								<p>creating homes that embody sustainability in every brick and beam.</p>
								<div class="w3layouts-posi-3">
								</div>
								<div class="w3layouts-posi-4">
								</div>
								<div class="thim-click-to-bottom">
									<a href="#about" class="scroll">
										<i class="fa fa-long-arrow-down" aria-hidden="true"></i>
									</a>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="w3layouts-banner-top t3">
							<div class="agileits-banner-info">
								<div class="w3layouts-posi-1">
								</div>
								<div class="w3layouts-posi-2">
								</div>
								<h4 style="color:white">As architects of change</h4>
								<h3>we envision for future generations</h3>
								<p> we're committed to reshaping the landscape of housing, designing spaces</p>
								<div class="w3layouts-posi-3">
								</div>
								<div class="w3layouts-posi-4">
								</div>
								<div class="thim-click-to-bottom">
									<a href="#header" class="scroll">
										<i class="fa fa-long-arrow-down" aria-hidden="true"></i>
									</a>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="clearfix"> </div>
			<!--banner Slider starts Here-->
		</div>
	</div>
	<!-- //banner -->
</div>
<!-- header -->

<!-- //header -->
<!-- About -->

<!-- //About -->
<!-- services -->
<!--<div class="services jarallax" id="services">-->
<!--	<div class="container">-->
<!--		<h3 class="w3_tittle">Services</h3>-->
<!--		<div class="services-w3lsrow agileits-w3layouts">-->
<!--			<div class="col-md-3 col-sm-3 col-xs-6 services-grids">-->
<!--				<i class="fa fa-gears" aria-hidden="true"></i>-->
<!--				<h4>Adipis Cing</h4>-->
<!--				<p>Phasellus at placerat ante nulla adipiscing elit</p>-->
<!--			</div>-->
<!--			<div class="col-md-3 col-sm-3 col-xs-6 services-grids">-->
<!--				<div class="w3agile-servs-img">-->
<!--					<i class="fa fa-group" aria-hidden="true"></i>-->
<!--					<h4>Fugiat Nul</h4>-->
<!--					<p>Phasellus at placerat ante nulla adipiscing elit</p>-->
<!--				</div>-->
<!--			</div>-->
<!--			<div class="col-md-3 col-sm-3 col-xs-6 services-grids">-->
<!--				<div class="w3agile-servs-img">-->
<!--					<i class="fa fa-briefcase" aria-hidden="true"></i>-->
<!--					<h4>Quo Gugiat</h4>-->
<!--					<p>Phasellus at placerat ante nulla adipiscing elit</p>-->
<!--				</div>-->
<!--			</div>-->
<!--			<div class="col-md-3 col-sm-3 col-xs-6 services-grids">-->
<!--				<div class="w3agile-servs-img">-->
<!--					<i class="fa fa-clone" aria-hidden="true"></i>-->
<!--					<h4>Secte Tedr </h4>-->
<!--					<p>Phasellus at placerat ante nulla adipiscing elit</p>-->
<!--				</div>-->
<!--			</div>-->
<!--			<div class="clearfix"> </div>-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->
<!-- //services -->
<!-- News -->
<!--<div class="w3l-news-content">-->
<!--	<div class="container">-->
<!--		<h3 class="w3_tittle">Latest News</h3>-->
<!--		<div class="col-md-6 w3l-news">-->
<!--			<div class="media response-info">-->
<!--				<div class="media-left response-text-left">-->
<!--					<a href="#" data-toggle="modal" data-target="#myModal">-->
<!--						<img class="media-object" src="{% static 'exterior_styles/exteriorhome/images/n3.jpg' %}" alt="">-->
<!--					</a>-->
<!--				</div>-->
<!--				<div class="media-body response-text-right">-->
<!--					<h5>conse ctetur adipisi</h5>-->
<!--					<ul>-->
<!--						<li><i class="fa fa-calendar" aria-hidden="true"></i>May 11, 2017</li>-->
<!--						<li><i class="fa fa-users" aria-hidden="true"></i>Followers : 7685</li>-->
<!--					</ul>-->
<!--					<p>Lorem ipsum dolor sit amet, Lorem ipsum Lorem ipsum.</p>-->
<!--					<a href="#" class="view resw3" data-toggle="modal" data-target="#myModal">Read More</a>-->
<!--				</div>-->
<!--				<div class="clearfix"> </div>-->
<!--			</div>-->
<!--			<div class="media response-info">-->
<!--				<div class="media-left response-text-left">-->
<!--					<a href="#" data-toggle="modal" data-target="#myModal">-->
<!--						<img class="media-object" src="{% static 'exterior_styles/exteriorhome/images/n1.jpg' %}" alt="">-->
<!--					</a>-->
<!--				</div>-->
<!--				<div class="media-body response-text-right">-->
<!--					<h5>dolor sit amet</h5>-->
<!--					<ul>-->
<!--						<li><i class="fa fa-calendar" aria-hidden="true"></i>May 15, 2017</li>-->
<!--						<li><i class="fa fa-users" aria-hidden="true"></i>Followers : 2546</li>-->
<!--					</ul>-->
<!--					<p>Lorem ipsum dolor sit amet, Lorem ipsum Lorem ipsum.</p>-->
<!--					<a href="#" class="view resw3" data-toggle="modal" data-target="#myModal">Read More</a>-->
<!--				</div>-->
<!--				<div class="clearfix"> </div>-->
<!--			</div>-->
<!--			<div class="media response-info">-->
<!--				<div class="media-left response-text-left">-->
<!--					<a href="#" data-toggle="modal" data-target="#myModal">-->
<!--						<img class="media-object" src="{% static 'exterior_styles/exteriorhome/images/n2.jpg' %}" alt="">-->
<!--					</a>-->
<!--				</div>-->
<!--				<div class="media-body response-text-right">-->
<!--					<h5>sit Lorem ipsum</h5>-->
<!--					<ul>-->
<!--						<li><i class="fa fa-calendar" aria-hidden="true"></i>May 17, 2017</li>-->
<!--						<li><i class="fa fa-users" aria-hidden="true"></i>Followers : 7485</li>-->
<!--					</ul>-->
<!--					<p>Lorem ipsum dolor sit amet, Lorem ipsum Lorem ipsum.</p>-->
<!--					<a href="#" class="view resw3" data-toggle="modal" data-target="#myModal">Read More</a>-->
<!--				</div>-->
<!--				<div class="clearfix"> </div>-->
<!--			</div>-->
<!--			<div class="clearfix"> </div>-->
<!--		</div>-->
<!--		<div class="col-md-6 wthree_events_grid_right">-->
<!--			<div class="wthree_events_grid_right1">-->
<!--				<h3>News Letter</h3>-->
<!--				<p>Never Miss Any Update From Us!</p>-->
<!--				<div class="w3layouts_newsletter_right">-->
<!--					<form action="#" method="post">-->
<!--						<input type="email" name="Email" placeholder="Email..." required="">-->
<!--						<input type="submit" value="Subscribe">-->
<!--					</form>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--		<div class="clearfix"> </div>-->
<!--	</div>-->
<!--</div>-->
<!--&lt;!&ndash; Modal1 &ndash;&gt;-->
<!--<div class="modal fade" id="myModal" tabindex="-1" role="dialog" >-->
<!--	<div class="modal-dialog">-->
<!--		&lt;!&ndash; Modal content&ndash;&gt;-->
<!--		<div class="modal-content">-->
<!--			<div class="modal-header">-->
<!--				<button type="button" class="close" data-dismiss="modal">&times;</button>-->
<!--					<h4>Best Floor</h4>-->
<!--					<h5>Our Top News</h5>-->
<!--					<img src="{% static 'exterior_styles/exteriorhome/images/n1.jpg' %}" alt="blog-image" />-->
<!--					<span>Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem , eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.accusantium doloremque laudantium, totam rem aperiamconsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->
<!-- //Modal1 -->
<!-- //News -->
<!-- pricing -->

<!-- team -->
<!--<div class="team" id="team">-->
<!--	<div class="container">-->
<!--		<h3 class="w3_tittle">Our Team</h3>-->
<!--		<div class="team-grids">-->
<!--			<div class="col-md-2 agileinfo-team-grid">-->
<!--				<img src="{% static 'exterior_styles/exteriorhome/images/t1.jpg' %}" alt="">-->
<!--				<div class="captn">-->
<!--					<h4>Mary</h4>-->
<!--					<div class="w3l-social">-->
<!--						<ul>-->
<!--							<li><a href="#"><i class="fa fa-facebook"></i></a></li>-->
<!--							<li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
<!--							<li><a href="#"><i class="fa fa-rss"></i></a></li>-->
<!--						</ul>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--			<div class="col-md-2 agileinfo-team-grid">-->
<!--				<img src="{% static 'exterior_styles/exteriorhome/images/t2.jpg' %}" alt="">-->
<!--				<div class="captn">-->
<!--					<h4>Peter</h4>-->
<!--					<div class="w3l-social">-->
<!--						<ul>-->
<!--							<li><a href="#"><i class="fa fa-facebook"></i></a></li>-->
<!--							<li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
<!--							<li><a href="#"><i class="fa fa-rss"></i></a></li>-->
<!--						</ul>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--			<div class="col-md-2 agileinfo-team-grid">-->
<!--				<img src="{% static 'exterior_styles/exteriorhome/images/t3.jpg' %}" alt="">-->
<!--				<div class="captn">-->
<!--					<h4>Johan</h4>-->
<!--					<div class="w3l-social">-->
<!--						<ul>-->
<!--							<li><a href="#"><i class="fa fa-facebook"></i></a></li>-->
<!--							<li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
<!--							<li><a href="#"><i class="fa fa-rss"></i></a></li>-->
<!--						</ul>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--			<div class="col-md-2 agileinfo-team-grid">-->
<!--				<img src="{% static 'exterior_styles/exteriorhome/images/t4.jpg' %}" alt="">-->
<!--				<div class="captn">-->
<!--					<h4>Steven</h4>-->
<!--					<div class="w3l-social">-->
<!--						<ul>-->
<!--							<li><a href="#"><i class="fa fa-facebook"></i></a></li>-->
<!--							<li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
<!--							<li><a href="#"><i class="fa fa-rss"></i></a></li>-->
<!--						</ul>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--			<div class="col-md-2 agileinfo-team-grid">-->
<!--				<img src="{% static 'exterior_styles/exteriorhome/images/t5.jpg' %}" alt="">-->
<!--				<div class="captn">-->
<!--					<h4>Wilson</h4>-->
<!--					<div class="w3l-social">-->
<!--						<ul>-->
<!--							<li><a href="#"><i class="fa fa-facebook"></i></a></li>-->
<!--							<li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
<!--							<li><a href="#"><i class="fa fa-rss"></i></a></li>-->
<!--						</ul>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--			<div class="col-md-2 agileinfo-team-grid">-->
<!--				<img src="{% static 'exterior_styles/exteriorhome/images/t6.jpg' %}" alt="">-->
<!--				<div class="captn">-->
<!--					<h4>Jane</h4>-->
<!--					<div class="w3l-social">-->
<!--						<ul>-->
<!--							<li><a href="#"><i class="fa fa-facebook"></i></a></li>-->
<!--							<li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
<!--							<li><a href="#"><i class="fa fa-rss"></i></a></li>-->
<!--						</ul>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--			<div class="clearfix"> </div>-->
<!--		</div>-->
<!--		<div class="team-grids">-->
<!--			<div class="col-md-2 agileinfo-team-grid">-->
<!--				<img src="{% static 'exterior_styles/exteriorhome/images/t7.jpg' %}" alt="">-->
<!--				<div class="captn">-->
<!--					<h4>Jorey</h4>-->
<!--					<div class="w3l-social">-->
<!--						<ul>-->
<!--							<li><a href="#"><i class="fa fa-facebook"></i></a></li>-->
<!--							<li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
<!--							<li><a href="#"><i class="fa fa-rss"></i></a></li>-->
<!--						</ul>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--			<div class="col-md-2 agileinfo-team-grid">-->
<!--				<img src="{% static 'exterior_styles/exteriorhome/images/t8.jpg' %}" alt="">-->
<!--				<div class="captn">-->
<!--					<h4>Meter</h4>-->
<!--					<div class="w3l-social">-->
<!--						<ul>-->
<!--							<li><a href="#"><i class="fa fa-facebook"></i></a></li>-->
<!--							<li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
<!--							<li><a href="#"><i class="fa fa-rss"></i></a></li>-->
<!--						</ul>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--			<div class="col-md-2 agileinfo-team-grid">-->
<!--				<img src="{% static 'exterior_styles/exteriorhome/images/t9.jpg' %}" alt="">-->
<!--				<div class="captn">-->
<!--					<h4>Kmter</h4>-->
<!--					<div class="w3l-social">-->
<!--						<ul>-->
<!--							<li><a href="#"><i class="fa fa-facebook"></i></a></li>-->
<!--							<li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
<!--							<li><a href="#"><i class="fa fa-rss"></i></a></li>-->
<!--						</ul>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--			<div class="col-md-2 agileinfo-team-grid">-->
<!--				<img src="{% static 'exterior_styles/exteriorhome/images/t10.jpg' %}" alt="">-->
<!--				<div class="captn">-->
<!--					<h4>Serte</h4>-->
<!--					<div class="w3l-social">-->
<!--						<ul>-->
<!--							<li><a href="#"><i class="fa fa-facebook"></i></a></li>-->
<!--							<li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
<!--							<li><a href="#"><i class="fa fa-rss"></i></a></li>-->
<!--						</ul>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--			<div class="col-md-2 agileinfo-team-grid">-->
<!--				<img src="{% static 'exterior_styles/exteriorhome/images/t11.jpg' %}" alt="">-->
<!--				<div class="captn">-->
<!--					<h4>Gkern</h4>-->
<!--					<div class="w3l-social">-->
<!--						<ul>-->
<!--							<li><a href="#"><i class="fa fa-facebook"></i></a></li>-->
<!--							<li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
<!--							<li><a href="#"><i class="fa fa-rss"></i></a></li>-->
<!--						</ul>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--			<div class="col-md-2 agileinfo-team-grid">-->
<!--				<img src="{% static 'exterior_styles/exteriorhome/images/t12.jpg' %}" alt="">-->
<!--				<div class="captn">-->
<!--					<h4>Quter</h4>-->
<!--					<div class="w3l-social">-->
<!--						<ul>-->
<!--							<li><a href="#"><i class="fa fa-facebook"></i></a></li>-->
<!--							<li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
<!--							<li><a href="#"><i class="fa fa-rss"></i></a></li>-->
<!--						</ul>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--			<div class="clearfix"> </div>-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->
<!-- //team -->
<!-- feedback -->
<!--<div class="feedback_dot jarallax">-->
<!--	<div class=" feedback">-->
<!--		<div class="container">-->
<!--			<h3 class="w3_tittle">Feedback</h3>-->
<!--			<div class="agileits-feedback-grids">-->
<!--				<div id="owl-demo" class="owl-carousel owl-theme">-->
<!--					<div class="item">-->
<!--						<div class="icon-w3l">-->
<!--							<i class="fa fa-quote-left" aria-hidden="true"></i>-->
<!--						</div>-->
<!--						<div class="feedback-info">-->
<!--							<div class="feedback-top">-->
<!--								<p> Sed semper leo metus, a lacinia eros semper at. Etiam sodales orci sit amet vehicula pellentesque. </p>-->
<!--							</div>-->
<!--							<div class="feedback-grids">-->
<!--								<div class="feedback-img">-->
<!--									<img src="{% static 'exterior_styles/exteriorhome/images/t1.jpg' %}" alt="" />-->
<!--								</div>-->
<!--								<div class="feedback-img-info">-->
<!--									<h5>Mary Jane</h5>-->
<!--									<p>Vestibulum</p>-->
<!--								</div>-->
<!--								<div class="clearfix"> </div>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--					<div class="item">-->
<!--						<div class="icon-w3l">-->
<!--							<i class="fa fa-quote-left" aria-hidden="true"></i>-->
<!--						</div>-->
<!--						<div class="feedback-info">-->
<!--							<div class="feedback-top">-->
<!--								<p> Sed semper leo metus, a lacinia eros semper at. Etiam sodales orci sit amet vehicula pellentesque. </p>-->
<!--							</div>-->
<!--							<div class="feedback-grids">-->
<!--								<div class="feedback-img">-->
<!--									<img src="{% static 'exterior_styles/exteriorhome/images/t2.jpg' %}" alt="" />-->
<!--								</div>-->
<!--								<div class="feedback-img-info">-->
<!--									<h5>Peter guptill</h5>-->
<!--									<p>Vestibulum</p>-->
<!--								</div>-->
<!--								<div class="clearfix"> </div>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--					<div class="item">-->
<!--						<div class="icon-w3l">-->
<!--							<i class="fa fa-quote-left" aria-hidden="true"></i>-->
<!--						</div>-->
<!--						<div class="feedback-info">-->
<!--							<div class="feedback-top">-->
<!--								<p> Sed semper leo metus, a lacinia eros semper at. Etiam sodales orci sit amet vehicula pellentesque. </p>-->
<!--							</div>-->
<!--							<div class="feedback-grids">-->
<!--								<div class="feedback-img">-->
<!--									<img src="{% static 'exterior_styles/exteriorhome/images/t3.jpg' %}" alt="" />-->
<!--								</div>-->
<!--								<div class="feedback-img-info">-->
<!--									<h5>Steven Wilson</h5>-->
<!--									<p>Vestibulum</p>-->
<!--								</div>-->
<!--								<div class="clearfix"> </div>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--					<div class="item">-->
<!--						<div class="icon-w3l">-->
<!--							<i class="fa fa-quote-left" aria-hidden="true"></i>-->
<!--						</div>-->
<!--						<div class="feedback-info">-->
<!--							<div class="feedback-top">-->
<!--								<p> Sed semper leo metus, a lacinia eros semper at. Etiam sodales orci sit amet vehicula pellentesque. </p>-->
<!--							</div>-->
<!--							<div class="feedback-grids">-->
<!--								<div class="feedback-img">-->
<!--									<img src="{% static 'exterior_styles/exteriorhome/images/t7.jpg' %}" alt="" />-->
<!--								</div>-->
<!--								<div class="feedback-img-info">-->
<!--									<h5>Mary Jane</h5>-->
<!--									<p>Vestibulum</p>-->
<!--								</div>-->
<!--								<div class="clearfix"> </div>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--					<div class="item">-->
<!--						<div class="icon-w3l">-->
<!--							<i class="fa fa-quote-left" aria-hidden="true"></i>-->
<!--						</div>-->
<!--						<div class="feedback-info">-->
<!--							<div class="feedback-top">-->
<!--								<p> Sed semper leo metus, a lacinia eros semper at. Etiam sodales orci sit amet vehicula pellentesque. </p>-->
<!--							</div>-->
<!--							<div class="feedback-grids">-->
<!--								<div class="feedback-img">-->
<!--									<img src="{% static 'exterior_styles/exteriorhome/images/t6.jpg' %}" alt="" />-->
<!--								</div>-->
<!--								<div class="feedback-img-info">-->
<!--									<h5>Peter guptill</h5>-->
<!--									<p>Vestibulum</p>-->
<!--								</div>-->
<!--								<div class="clearfix"> </div>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--					<div class="item">-->
<!--						<div class="icon-w3l">-->
<!--							<i class="fa fa-quote-left" aria-hidden="true"></i>-->
<!--						</div>-->
<!--						<div class="feedback-info">-->
<!--							<div class="feedback-top">-->
<!--								<p> Sed semper leo metus, a lacinia eros semper at. Etiam sodales orci sit amet vehicula pellentesque. </p>-->
<!--							</div>-->
<!--							<div class="feedback-grids">-->
<!--								<div class="feedback-img">-->
<!--									<img src="{% static 'exterior_styles/exteriorhome/images/t4.jpg' %}" alt="" />-->
<!--								</div>-->
<!--								<div class="feedback-img-info">-->
<!--									<h5>Steven Wilson</h5>-->
<!--									<p>Vestibulum</p>-->
<!--								</div>-->
<!--								<div class="clearfix"> </div>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->
<!-- //feedback -->
<!-- gallery-->
<!--<div class="gallery" id="gallery">-->
<!--	<div class="container">-->
<!--		<h3 class="w3_tittle">Our Gallery</h3>-->
<!--		<div class="gallery-grids">-->
<!--			<section>-->
<!--				<ul id="da-thumbs" class="da-thumbs">-->
<!--					<li>-->
<!--						<a href="{% static 'exterior_styles/exteriorhome/images/g1.jpg' %}" class="b-link-stripe b-animate-go  thickbox">-->
<!--							<img src="{% static 'exterior_styles/exteriorhome/images/g1.jpg' %}" alt="" />-->
<!--							<div>-->
<!--								<h5>Best Floor</h5>-->
<!--							</div>-->
<!--						</a>-->
<!--					</li>-->
<!--					<li>-->
<!--						<a href="{% static 'exterior_styles/exteriorhome/images/g2.jpg' %}" class="b-link-stripe b-animate-go  thickbox">-->
<!--							<img src="{% static 'exterior_styles/exteriorhome/images/g2.jpg' %}" alt="" />-->
<!--							<div>-->
<!--								<h5>Best Floor</h5>-->
<!--							</div>-->
<!--						</a>-->
<!--					</li>-->
<!--					<li>-->
<!--						<a href="{% static 'extrior_styles/exteriorhome/images/g3.jpg' %}" class="b-link-stripe b-animate-go  thickbox">-->
<!--							<img src="{% static 'extrior_styles/exteriorhome/images/g3.jpg' %}" alt="" />-->
<!--							<div>-->
<!--								<h5>Best Floor</h5>-->
<!--							</div>-->
<!--						</a>-->
<!--					</li>-->
<!--					<li>-->
<!--						<a href="{% static 'exterior_styles/exteriorhome/images/g4.jpg' %}" class="b-link-stripe b-animate-go  thickbox">-->
<!--							<img src="{% static 'exterior_styles/exteriorhome/images/g4.jpg' %}" alt="" />-->
<!--							<div>-->
<!--								<h5>Best Floor</h5>-->
<!--							</div>-->
<!--						</a>-->
<!--					</li>-->
<!--					<li>-->
<!--						<a href="{% static 'exterior_styles/exteriorhome/images/g5.jpg' %}" class="b-link-stripe b-animate-go  thickbox">-->
<!--							<img src="{% static 'exterior_styles/exteriorhome/images/g5.jpg' %}" alt="" />-->
<!--							<div>-->
<!--								<h5>Best Floor</h5>-->
<!--							</div>-->
<!--						</a>-->
<!--					</li>-->
<!--					<li>-->
<!--						<a href="{% static 'exterior_styles/exteriorhome/images/g6.jpg' %}" class="b-link-stripe b-animate-go  thickbox">-->
<!--							<img src="{% static 'exterior_styles/exteriorhome/images/g6.jpg' %}" alt="" />-->
<!--							<div>-->
<!--								<h5>Best Floor</h5>-->
<!--							</div>-->
<!--						</a>-->
<!--					</li>-->
<!--					<li>-->
<!--						<a href="{% static 'exterior_styles/exteriorhome/images/g7.jpg' %}" class="b-link-stripe b-animate-go  thickbox">-->
<!--							<img src="{% static 'exterior_styles/exteriorhome/images/g7.jpg' %}" alt="" />-->
<!--							<div>-->
<!--								<h5>Best Floor</h5>-->
<!--							</div>-->
<!--						</a>-->
<!--					</li>-->
<!--					<li>-->
<!--						<a href="{% static 'exterior_styles/exteriorhome/images/g8.jpg' %}" class="b-link-stripe b-animate-go  thickbox">-->
<!--							<img src="{% static 'exterior_styles/exteriorhome/images/g8.jpg' %}" alt="" />-->
<!--							<div>-->
<!--								<h5>Best Floor</h5>-->
<!--							</div>-->
<!--						</a>-->
<!--					</li>-->
<!--					<li>-->
<!--						<a href="{% static 'exterior_styles/exteriorhome/images/g9.jpg' %}" class="b-link-stripe b-animate-go  thickbox">-->
<!--							<img src="{% static 'exterior_styles/exteriorhome/images/g9.jpg' %}" alt="" />-->
<!--							<div>-->
<!--								<h5>Best Floor</h5>-->
<!--							</div>-->
<!--						</a>-->
<!--					</li>-->
<!--				</ul>-->
<!--			</section>-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->
<!--&lt;!&ndash;//gallery&ndash;&gt;-->
<!--&lt;!&ndash; Contact &ndash;&gt;-->
<!--<div class="contact jarallax" id="contact">-->
<!--	<div class="container">-->
<!--		<h3 class="w3_tittle">Mail Us</h3>-->
<!--		<div class="contact-grid1">-->
<!--			<form action="#" method="post">-->
<!--				<input type="text" name="Name" placeholder="Name" required="">-->
<!--				<input type="text" name="Subject" placeholder="Subject" required="">-->
<!--				<input type="email" name="E-mail" placeholder="E-mail" required="">-->
<!--				<textarea placeholder="Write a Message......" name="Message" required=""></textarea>-->
<!--				<div class="grid-w3l">-->
<!--					<P><i class="fa fa-angle-double-right" aria-hidden="true"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit,dolore magna aliqua.</p>-->
<!--					<h4>Fill in The Form And We'll get back to you within 24hours.</h4>-->
<!--				</div>-->
<!--				<input type="submit" value="Send">-->
<!--			</form>-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->
<!--&lt;!&ndash; //Contact &ndash;&gt;-->
<!--<div class="contact-w3lsleft map">-->
<!--	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d424143.0428986048!2d150.65177630482995!3d-33.847973034849154!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b129838f39a743f%3A0x3017d681632a850!2sSydney+NSW%2C+Australia!5e0!3m2!1sen!2sin!4v1488261232220" class="map" style="border:0" allowfullscreen></iframe>-->
<!--</div>-->
<!--&lt;!&ndash; contact address&ndash;&gt;-->
<!--<div class="contact-row agileits-w3layouts">-->
<!--	<div class="container">-->
<!--	<div class="contact-w3lsright">-->
<!--		<div class="col-xs-4 address-row">-->
<!--			<div class="col-xs-2 address-left">-->
<!--				<span class="glyphicon glyphicon-home" aria-hidden="true"></span>-->
<!--			</div>-->
<!--			<div class="col-xs-10 address-right">-->
<!--				<h5>Visit Us</h5>-->
<!--				<p>Canada usju</p>-->
<!--				<p>8907/2, Sydney.</p>-->
<!--			</div>-->
<!--			<div class="clearfix"> </div>-->
<!--		</div>-->
<!--		<div class="col-xs-4 address-row w3-agileits">-->
<!--			<div class="col-xs-2 address-left">-->
<!--				<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>-->
<!--			</div>-->
<!--			<div class="col-xs-10 address-right">-->
<!--				<h5>Mail Us</h5>-->
<!--				<p><a href="mailto:info@example.com"> mail@example1.com </a></p>-->
<!--				<p><a href="mailto:info@example.com"> mail@example2.com </a></p>-->
<!--			</div>-->
<!--			<div class="clearfix"> </div>-->
<!--		</div>-->
<!--		<div class="col-xs-4 address-row">-->
<!--			<div class="col-xs-2 address-left">-->
<!--				<span class="glyphicon glyphicon-phone" aria-hidden="true"></span>-->
<!--			</div>-->
<!--			<div class="col-xs-10 address-right">-->
<!--				<h5>Call Us</h5>-->
<!--				<p>+01 222 333 4444</p>-->
<!--				<p>+01 222 666 7777</p>-->
<!--			</div>-->
<!--			<div class="clearfix"> </div>-->
<!--		</div>-->
<!--		<div class="clearfix"> </div>-->
<!--	</div>-->
<!--	</div>-->
<!--</div>-->
<!--&lt;!&ndash; //contact address&ndash;&gt;-->
<!--&lt;!&ndash; Footer &ndash;&gt;-->
<!--<div class="footer w3ls">-->
<!--	<div class="container">-->
<!--		<div class="w3ls-social-icons-2">-->
<!--			<a class="facebook" href="#"><i class="fa fa-facebook"></i></a>-->
<!--			<a class="twitter" href="#"><i class="fa fa-twitter"></i></a>-->
<!--			<a class="pinterest" href="#"><i class="fa fa-google-plus"></i></a>-->
<!--			<a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>-->
<!--			<a class="tumblr" href="#"><i class="fa fa-tumblr"></i></a>-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->
<!--<div class="copyrights">-->
<!--	<div class="logo-fo">-->
<!--		<h2><a href="index.html">Best Floor</a></h2>-->
<!--	</div>-->

<!--	<p class="w3l-p-last"><span>Address:</span> 1234, Sydney.</p>-->
<!--	<div class="clearfix"> </div>-->
<!--</div>-->
<!-- //Footer -->



<!-- js-scripts -->
<!-- js-files -->
<script type="text/javascript" src="{% static 'exterior_styles/exteriorhome/js/jquery-2.1.4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'exterior_styles/exteriorhome/js/bootstrap.js' %}"></script> <!-- Necessary-JavaScript-File-For-Bootstrap -->
<!-- //js-files -->

<!-- Baneer-js -->
<script src="{% static 'exterior_styles/exteriorhome/js/responsiveslides.min.js' %}"></script>
<script>
	// You can also use "$(window).load(function() {"
	$(function () {
	  // Slideshow 4
	  $("#slider4").responsiveSlides({
		auto: true,
		pager:true,
		nav:false,
		speed: 500,
		namespace: "callbacks",
		before: function () {
		  $('.events').append("<li>before event fired.</li>");
		},
		after: function () {
		  $('.events').append("<li>after event fired.</li>");
		}
	  });

	});
</script>
<!-- //Baneer-js -->

<!-- smooth-scrolling-of-move-up -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
			};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

		});
	</script>
	<!-- //smooth-scrolling-of-move-up -->
	<!-- start-smooth-scrolling -->
	<script type="text/javascript" src="{% static 'exterior_styles/exteriorhome/js/move-top.js' %}"></script>
	<script type="text/javascript" src="{% static 'exterior_styles/exteriorhome/js/easing.js' %}"></script>
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){
					event.preventDefault();

			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>
	<!-- //end-smooth-scrolling -->
<!-- smooth scrolling -->
<script src="{% static 'exterior_styles/exteriorhome/js/SmoothScroll.min.js' %}"></script>
	<script src="{% static 'exterior_styles/exteriorhome/js/jarallax.js' %}"></script>
	<script type="text/javascript">
		/* init Jarallax */
		$('.jarallax').jarallax({
			speed: 0.5,
			imgWidth: 1366,
			imgHeight: 768
		})
	</script>

<!-- //smooth scrolling -->
<!-- video-js -->
<script src="{% static 'exterior_styles/exteriorhome/js/jquery.vide.min.js' %}"></script>
<!-- //video-js -->
<!-- carousel -->
<script src="{% static 'exterior_styles/exteriorhome/js/owl.carousel.js' %}"></script>
	<script>
	$(document).ready(function() {
	  $("#owl-demo").owlCarousel({
		items :3,
		itemsDesktop : [768,2],
		itemsDesktopSmall : [414,1],
		lazyLoad : true,
		autoPlay : true,
		navigation :true,

		navigationText :  false,
		pagination : true,

	  });

	});
	</script>
<!-- //carousel -->

<!-- pricing-tablel -->
<script src="{% static 'exterior_styles/exteriorhome/js/jquery.magnific-popup.js' %}" type="text/javascript"></script>
<script>
		$(document).ready(function() {
		$('.popup-with-zoom-anim').magnificPopup({
			type: 'inline',
			fixedContentPos: false,
			fixedBgPos: true,
			overflowY: 'auto',
			closeBtnInside: true,
			preloader: false,
			midClick: true,
			removalDelay: 300,
			mainClass: 'my-mfp-zoom-in'
		});

		});
</script>
<!-- //pricing-tablel -->
<!-- gallery-js -->
<script src="{% static 'exterior_styles/exteriorhome/js/jquery.chocolat.js' %}"></script>
<link rel="stylesheet" href="{% static 'exterior_styles/exteriorhome/css/chocolat.css' %}" type="text/css" media="screen">
		<!-- light-box-files -->
		<script type="text/javascript">
		$(function() {
			$('.gallery a').Chocolat();
		});
		</script>
		<!-- //light-box-files -->
<!-- //gallery-js -->
<!-- //js-scripts -->

</body>
</html>